@use 'variables' as v;
@use 'mixin';

.menu{
    font-style: italic;
    font-family: sans-serif;
    
    &__desplegable{
        display: none;
    }
    &__background{
        @include mixin.background;
        margin-bottom: 10px;
        text-shadow: 2px 3px 2px rgba(0,0,0,0.6);
    }
    &__background2{
        @include mixin.background;
        margin-bottom: 10px;
    }
    &__globalTittle{
        @include mixin.textTittle;
        
    }
    &__container{
        border-bottom: 2px double black;
    }
    &__tittle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 15px;
        margin-right: 50px;
        font-size: 25px;
        margin-top: 35px;
        margin-bottom: 30px;
        filter: brightness(53);
    }
    &__ingredientes{
     //   filter: brightness(53);
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    &__ingredientes-Container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    };
    &__pizzas{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 25px;
        border-top: 2px black dashed;
    }
    &__pizzas-tituloMargin{
        margin-top: 50px;
    }
};